table.tabla_alumno_index {
    text-align: center;
    color: white;

}

table.tabla_alumno_index th{
    border: 1px solid rgb(236, 230, 230); 
    background-color: #7DCEA0;
}

table.tabla_alumno_index td{
    border: 1px solid rgb(243, 239, 239); 

}
