html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #E6E6E6;
    font-family: 'Calibri';
}

header {
    width: 100%;
    box-shadow: 2px 5px 20px 1px #777;
    z-index: 1;
    position: absolute;
}

div.green-bar {
    height: 15px;
    width: 100%;
    background-color: #679370;
    display: block;
}

table.title-bar-container {
    height: 60px;
    width: 100%;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}

tbody {
    height: inherit;
}

tr.title-bar, td.logo-container {
    height: inherit;
    box-sizing: border-box;
}

img.logo {
    height: 100%;
    padding-left: 40px;
}

h1.title {
    height: 100%;
    margin: auto;
    padding: 0;
    color: #679370;
    font-family: 'Calibri';
    font-weight: normal; 
    text-align: center; 
    padding-top: 20px;
}

img.logo-uaemex {
    position: relative;
    float:left;
    height: 100%;
    width: auto;
    padding-left: 40px;
}

img.logo-fi {
    position: relative;
    float: right;
    height: 100%;
    width: auto;
    padding-right: 40px;
}



nav.top-nav-container {
    width: 100%;
    height: 40px;
    position: relative;
}

main {
    width: 80%;
    height: auto;
    padding: 50px;
    padding-top: 150px;
    background-color: white;
    box-shadow: 2px 5px 20px 1px #777;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
}

