label {
    font-family: 'Calibri';
}

input[type="text"], input[type="password"] {
    padding: 5px 20px;
    background-color: #D3D3D3;
    border: 1px solid rgb(201, 194, 194);
    outline: none;

    border-radius: 12px;
    width: 100%;
    font-size: 14px;
}

/*
input[type="submit"], button.submit-btn {
    padding: 5px 40px;
    background-color: #BEA52A;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    display: block;
    margin: auto;
    height: 30px;
}*/

.btnIngresar{
    background-color: #BEA52A; 
    border-radius: 12px;
    padding: 5px 40px;
    color: white;
    border: none;
}

input[type="submit"]:hover, button.submit-btn:hover {
    background-color: #999666;
    cursor: pointer;
}

textarea {
    padding: 5px 20px;
    background-color: #D3D3D3;
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 100px;
    resize: none;
}