html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

main {
    height: 100%;
    width: 70%;
    padding: 60px 0;
    margin: auto;
    box-sizing: border-box;
}

div.left-panel {
    float: left;
    width: 45%;
    height: 100%;
    margin-right: 5%;
    background-color: red;
    background-image: linear-gradient(to right, #7E8E67, #989665);
    box-sizing: border-box;
}

div.logo-container {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 100px 0;
}

#uaemex-logo {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
}

#fi-logo {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
}

div.login-panel {
    float: left;
    width: 50%;
    height: 100%;
}

.shadow-box {
    box-shadow: 2px 5px 20px 1px #777;
}

.titLogin {
    width: 100%;
    font-family: 'Calibri';
    font-weight: lighter;
    color: white;
    background-color: #7C8D69;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}




.imgcontainer {
    text-align: center;
    padding-top: 10%;
}

.imgLogin {
    width: 100px;
    height: 100px;
}

.containerLogin {
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
}

.labelLogin {
    color: #808080;
}


.errorSesion {
    margin-top: 40px;
    text-align: center;
}

.errorSesion h5 {
    font-size: 15px !important;
    color: #EC7063;
}