
#navegador ul{
    list-style-type: none;
    text-align: center;
 }
 #navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }
 #navegador li a {
    padding: 4px 10px 4px 10px;
    color: white;
    background-color: #7aa79c;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 10px;
 }
 #navegador li a:hover{
    color: #ffffff;
 }
 

/*
{
    font-family: 'Calibri';
}

div.main-pnl {
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: beige;
}

nav.lic-nav {
    width: 20%;
    height: 100%;
    color: white;
    background-color: #E0C152;
    display: block;
    float: left;
}

h2.lic-title {
    height: 10%;
    margin: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

ul.lic-list {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    background-color: #b8b0b0;
    box-sizing: border-box;
}

li.lic {
    width: 100%;
    height: 20%;
    display: block;
}

a.lic-btn {
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    display: block;
    margin: 0;
    padding: 20px;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    color: white;
    border-top: #E0C152 ;
}

a.lic-btn:hover, a.selected {
    background-color: rgb(205, 205, 216);
    color: #5a5858;
    border-left: #5a5858 solid 3px;
}



aside.plan-trabajo-pnl {
    width: 80%;
    height: 100%;
    background-color: rgb(205, 205, 216);
    display: block;
    float: left;
}


.tabla_act_por_lic {
    text-align: center;
    vertical-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    width: 100%;
 }

 .tabla_act_por_lic tr {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
 }

 .tabla_act_por_lic td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
 }
 .tr_encabezado{
    background: #255e43;
    color: white;

 }
 */
 