div.tbl-container {
    width: 600px;
    height: 200px;
    background-color: #EEEEEE;
    border-radius: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

table {
    padding: 0;
    width: 100%;
    background-color: inherit;
    border-collapse: collapse;
}

th {
    margin: 0;
    background-color: #9C8412;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

th, td {
    padding: 5px;
}

tr {
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}